<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title th:text="${scooter_dtoo.title}">Название самоката</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/index.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>
			$(document).ready(function () {
    			let redirectToRentElement = $("#redirect_to_rents");

				if (redirectToRentElement.length > 0) {
        			window.location.href = "/rents";
				}
			});
		</script>
	</head>

	<body>
		<header class="header">
			<div class="container container--small">
				<div class="header__wrapper">
					<div id="logo-container" class="logo">
						<div class="logo__wrapper">
							<p class="logo__text">Самокат</p>
							<div class="logo__img">
								<img src="/images/logo.png" alt="logo" id="logo">
							</div>
						</div>
					</div>
					<nav class="header__nav nav">
						<ul class="nav__list">
							<li class="nav__item"><a class="nav__link" th:href="@{/}"><u>Главная</u></a></li>
							<li class="nav__item" sec:authorize="isAuthenticated()">
								<a class="nav__link" th:if="${#authorization.expression('not hasRole(''ADMIN'')')}" th:href="@{/rents}"><u>Арендованные самокаты</u></a>
							</li>
							<li class="nav__item" sec:authorize="hasRole('ADMIN')"><a  class="nav__link"th:href="@{/users}"><u>Пользователи (ADMIN)</u></a></li>
							<li class="nav__item"><h5 class="nav__link" style="cursor: auto; color:black;"><u>Текущий пользователь:&nbsp;<b sec:authentication="name"></b></u></h5></li>
						</ul>
					</nav>
					<nav id="login-logout-container" class="header__profile">
						<ul class="header__control">
							<li sec:authorize="isAnonymous()">
								<a class="button button--small button--black" th:href="@{/login}">Вход</a>
							</li>
							<li sec:authorize="isAuthenticated()">
								<form th:action="@{/logout}" th:method="POST">
									<button type="submit" class="button button--small button--black">Выход</button>
								</form>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>


		<main>
			<section class="section">
				<div class="section__wrapper">
					<div class="container">
						<div class="scooter">
							<div class="scooter__wrapper">
								<div class="section__header">
									<h1 class="section__title section__title--middle section__title--capitalize" th:text="${scooter_dtoo.title}">Название самоката</h1>
								</div>
								<div class="section__content">
									<div class="scooter__row scooter__row--big">
										<p class="scooter__text" th:text="'Заряд: ' + ${scooter_dtoo.charge} + 'ч.'">Заряд</p>
										<p class="scooter__text" th:text="'Цена за старт: ' + ${scooter_dtoo.startPrice} + 'руб.'">Цена за старт</p>
										<p class="scooter__text" th:text="'Аренда: ' + ${scooter_dtoo.rentPrice} + 'руб./мин.'">Аренда</p>
										<div sec:authorize="isAuthenticated()">
                                    		<p class="section__text section__text--small" 
                                        		th:if="${#authorization.expression('not hasRole(''ADMIN'')')}" 
                                        		th:text="(${scooter_dtoo.charge} > 0.0) ? 'Можно арендовать? ДА' : 'Можно арендовать? НЕТ'">
                                    		</p>
                                		</div>
									</div>
								</div>
							</div>
							<div class="scooter__footer">
								<div class="scooter__row" sec:authorize="isAuthenticated()" >
									<form class="form" 
									th:action="@{/scooters/{id}/start_rent (id = ${scooter_dtoo.id})}" 
									th:method="POST" 
									th:if="${is_rented != true} and ${scooter_dtoo.charge > 0.0}" 
									sec:authorize="!hasRole('ADMIN')">
										<input class="button button--base button--black" type="submit" value="Начать аренду">

										<span th:if="${no_money}">Недостаточно средств для аренды.</span>
									</form>
									<a th:if="${is_rented == true}" href="/rents" id="redirect_to_rents">Перейти к арендованным самокатам</a>
									<form th:action="@{/scooters/{id}/edit (id = ${scooter_dtoo.id})}" sec:authorize="hasRole('ADMIN')">
										<input class="button button--base button--black"  type="submit" value="Редактировать (ADMIN)">
									</form>

									<form th:action="@{/scooters/{id}/delete (id = ${scooter_dtoo.id})}" th:method="DELETE" sec:authorize="hasRole('ADMIN')">
										<input class="button button--base button--black"  type="submit" value="Удалить (ADMIN)">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>